SECRET_KEY=django-insecure-qjo#a^2u^1r$pzi)h5cwvyb97qej2y2)lfr_o_@bb=-0(=q3qq
DEBUG=True

# Database Configuration (MySQL recommended for production)
DB_ENGINE=django.db.backends.mysql
DB_NAME=sentioai
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
